# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "fe0328716b9e7bb5bcaa87b76e18be14"
name = "Tanami"
application_url = "https://build-states-suggesting-paragraph.trycloudflare.com"
embedded = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://build-states-suggesting-paragraph.trycloudflare.com/auth/callback"
]

[build]
automatically_update_urls_on_dev = true
